@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*@{ ViewBag["Title"] = "Index"; }*@

<div class="content">
    <div class="wrap">
        <div style="text-align:center" class="=about">
            <h3 style="color:#66615b">ABOUT</h3>
            <div style="text-align:center"><img src="https://i.hizliresim.com/t44a75p.jpg" /></div>
            <br /> <br />
            <p style="color:#66615b">
                ACTIVE RENT A CAR, 1998 yılında İstanbul’da kuruluşundan bu yana
                Türkiye oto kiralama sektöründe güvenilir ve tecrübeli şekilde hizmet
                vermeye devam etmektedir. Müşteri memnuniyetine olan inancı ve bu alandaki
                tecrübesiyle sektöre yön veren öncü firmalardandır.
            </p>
            <br />
            <p style="color:#66615b">
                Merkezi Antalya’da bulunan ACTIVE RENT A CAR, 81 ilde ve 55 havaalanında
                ofisleri ve filosuya her an hizmetinize hazır durumdadır. Antalya, İzmir,
                İstanbul, Ankara gibi bir çok şehirde V.I.P araç hizmeti, üst sınıf lüks
                araç kiralama, filo kiralama ve toplu araç kiralama gibi bir çok konuda
                güvenilir bir firmadır. Tüm bunların dışında ACTIVE RENT A CAR  gerek 81
                ilde online ödeme kolaylıklarıyla gerek iyi eğitimli yabancı dil bilen
                (İngilizce, Almanca, Rusça gibi) personeliyle gerekse 7/24 hizmet veren
                açık ofisleriyle sektöre liderlik etmeye ve size en iyi şekilde hizmet sunmaya devam ediyor.
            </p>
            <br />
            <p style="color:#66615b">
                ACTIVE RENT A CAR başarısını tecrübeyle müşteri memnuniyetini birleştirmesinden
                almaktadır. ACTIVE grup olarak en önemli kazancımız güven dolu müşterilerimizdir,
                biliyoruz ki memnun kalmış müşterilerimiz en önemli kazancımız ve en değerli referansımızdır.
            </p>
            <br />
            <h5 style="color:#66615b">MİSYONUMUZ</h5>
            <p style="color:#66615b">
                Türkiye’de oto kiralama sektörü giderek büyüyen ve gelişen bir sektördür.
                ACTIVE RENT A CAR sektörde tecrübesi ve hizmet anlayışı ile fark yaratmaktadır.
                Misyonumuz ACTIVE grup olarak gelişen araç teknolojilerini kullanarak sektörün
                lokomotifi olmak, müşteri güvenirliliği ve çalışma titizliği ile yeniliklerin
                takipçisi ve öncüsü olmaktır.
            </p>
            <br />
            <h5 style="color:#66615b">VİZYONUMUZ</h5>
            <p style="color:#66615b">
                ACTIVE RENT A CAR olarak Türkiye’nin 81 ilinde yüksek standartlarda ve
                kaliteli hizmetimizle müşterilerimize her zaman güvenebilecekleri bir adres
                olmaktır. Bu alanda yaptığımız çalışmalarla, sürekli yenilenen araçlarımız ve
                kaliteli personelimizle her zaman fark yaratan ve yeniliklerin öncüsü olan firma olmaktır.
            </p>
        </div>
    </div>
</div>