@model RentACar.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">Edit User</h1>


<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <form asp-action="Edit" style="overflow:hidden;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Contactid" class="control-label"></label>
                    <select asp-for="Contactid" class="form-control" asp-items="ViewBag.Contactid"></select>
                    <span asp-validation-for="Contactid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Addressid" class="control-label"></label>
                    <select asp-for="Addressid" class="form-control" asp-items="ViewBag.Addressid"></select>
                    <span asp-validation-for="Addressid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cardid" class="control-label"></label>
                    <select asp-for="Cardid" class="form-control" asp-items="ViewBag.Cardid"></select>
                    <span asp-validation-for="Cardid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nationalid" class="control-label"></label>
                    <input asp-for="Nationalid" class="form-control" />
                    <span asp-validation-for="Nationalid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthplace" class="control-label"></label>
                    <input asp-for="Birthplace" class="form-control" />
                    <span asp-validation-for="Birthplace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthyear" class="control-label"></label>
                    <input asp-for="Birthyear" class="form-control" />
                    <span asp-validation-for="Birthyear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div style="text-align:right">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
